/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ene-2018, 19:03:34
    Author     : XavierContla
*/

.paginationclass{
    
margin: 19px 28px;    
}
.paginationclass span{
    margin-left:15px;
    display: inline-block;
}
.pagination-controle li{
    display: inline-block;
}
.pagination-controle button{
    font-size: 12px;
    margin-top: -26px;
    cursor:pointer;
}
.pagination-controle span{
    font-size: 12px;
    margin-top: -26px;
    cursor:pointer;
}
.pagination{
    margin:5px 12px !important;
}